body{
    background-image: url("/public/Images/bg.png");
    background-attachment:fixed;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    font-family:"Cormorant Upright",serif;

}
.loader{
    display: flex;   
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    }